.aboute-main-section {
  background-image: url("../../../public/assets/about/desktop/image-hero-whitecup.jpg");
}
.commit-section {
  margin-top: 100px;
}
.commit-container {
  max-width: 1110px;
  margin: 0 auto;
}
.commit-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.commit-image img {
  width: 445px;
  border-radius: 10px;
  content: url(/assets/about/desktop/image-commitment.jpg);
}
.commit-discription {
  width: 540px;
  padding: 10px;
}
.commit-discription h3 {
  font-family: Fraunces;
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  text-align: left;
}
.commit-discription p {
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
}
@media only screen and (max-width: 1024px) {
  .aboute-main-section {
    background-image: url("../../../public/assets/about/tablet/image-hero-whitecup.jpg");
  }
  .commit-container {
    max-width: inherit;
    margin: 0 auto;
  }

  .commit-image img {
    width: 281px;
    content: url(/assets/about/tablet/image-commitment.jpg);
  }
  .commit-discription {
    width: 339px;
  }
  .commit-discription h3 {
    font-family: Fraunces;
    font-size: 32px;
    font-weight: 900;
    line-height: 48px;
    text-align: left;
  }
  .commit-discription p {
    font-family: Barlow;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
  }
}
@media only screen and (max-width: 767px) {
  .aboute-main-section {
    background-image: url("../../../public/assets/about/mobile/image-hero-whitecup.jpg");
  }
  .commit-info {
    flex-direction: column;
  }
  .commit-image img {
    width: 281px;
    content: url(/assets/about/tablet/image-commitment.jpg);
  }
  .commit-discription {
    width: 339px;
  }
  .commit-discription h3 {
    font-family: Fraunces;
    font-size: 32px;
    font-weight: 900;
    line-height: 48px;
    text-align: left;
  }
  .commit-discription p {
    font-family: Barlow;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
  }
}
